* {
    box-sizing: border-box;
}

.app {
    padding: 10px;
    background-color: #eee;
    min-height: 99vh;
}

.app>h1 {
    display: flex;
    justify-content: center;
}

.task-container {
    padding: 1em;
    min-height: 94vh;
    display: grid;
    /* grid-template-columns: 2fr 1.3fr; */
    grid-template-columns: repeat(1, 2fr 1.3fr);
    grid-template-rows: 100%;
    grid-template-areas: "task-list task-form";
    grid-gap: 10px;
    /* place-content: center; */
}



.task-form {

    display: flex;
    flex-direction: column;
}

.form-field {
    display: flex;
    column-gap: 10px;
}


/* For the entire task list container */
.task-list,
.task-form {
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* For each individual task item */
.task-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

/* For task title and status */
.task-title {
    font-weight: 500;
    margin-right: 10px;
    flex-grow: 2;
    max-width: 75%;
}

/* For completed tasks */
.completed {
    color: green;
    margin-right: 20px;
}

/* For tasks not completed */
.not-completed {
    color: red;
    margin-right: 20px;
}

/* For buttons */
.task-list-item-setting {
    display: flex;
    gap: 10px
}

.task-action-button,
.task-form>button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.task-action-button:hover,
.task-form>button:hover {
    background-color: #0056b3;
}

.form-field>label {
    flex-basis: 25%;
    font-weight: 500;
}

.no-data {
    display: flex;
    align-items: center;
    flex-direction: column;
}



@media screen and (max-width: 782px) {
    .task-container {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr; */
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "task-list" "task-form";
    }
}